<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="Je suis un développeur full stack web et mobile avec une expertise dans les technologies telles que Vue.js, Angular, NodeJS, Laravel, CodeIgniter, Django, Android, Flutter, TS et C#.">
  <meta name="keywords"
    content="développeur full stack, développeur web, développeur mobile, Vue.js, Angular, NodeJS, Laravel, CodeIgniter, Django, Android, Flutter, TS, C#">
  <meta name="author" content="Kabirou ALASSANE" />
  <title>Kabirou ALASSANE | Développeur full stack web et mobile</title>
  <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
  <link rel="manifest" href="assets/ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    integrity="sha512-i8+QythOYyQke6XbStjt9T4yQHhhM+9Y9yTY1fOxoDQwsQpKMEpIoSQZ8mVomtnVCf9PBvoQDnKl06gGOOD19Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/css/templatemo-style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"
    integrity="sha512-OdkysyYNjK4CZHgB+dkw9xQp66hZ9TLqmS2vXaBrftfyJeduVhyy1cOfoxiKdi4/bfgpco6REu6Rb+V2oVIRWg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/@futuravision/futura.js@2.0.0/dist/futurajs.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R28JTD62L2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-R28JTD62L2');
  </script>
</head>

<body class="bg-dark">
  <div id="app">
    <div class="container-fluid bg-light position-fixed w-100 h-100" style="height:100vh; z-index: 10000!important;"
      v-show="loading">
      <div class="row justify-content-center h-100 w-100">
        <div class="col-6 m-auto">
          <div class="text-center">
            <div class="spinner-grow m-1 text-danger" role="status">
            </div>
            <div class="spinner-grow m-1 text-warning" role="status">
            </div>
            <div class="spinner-grow m-1 text-info" role="status">
            </div>
            <div class="spinner-grow m-1 text-success" role="status">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="page-wraper">
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="javascript:void(0)"><img :src="data.profilePic" :alt="data.name" /></a>
            </div>
            <div class="author-content">
              <h4>{{ data.name }}</h4>
              <span> {{ data.job }} </span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1"> {{ data.section1Title }} </a></li>
                <li><a href="#section2"> {{ data.section2Title }} </a></li>
                <li><a href="#section3"> {{ data.section3Title }} </a></li>
                <li><a href="#section5"> {{ data.section5Title }} </a></li>
                <li><a href="#section4"> {{ data.section4Title }} </a></li>
              </ul>
              <li><a href="assets/kabirou-alassane-resume.pdf" download> {{ data.resumeTitle }} </a></li>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a :href="`tel:` + data.phone"><i class="fa fa-phone"></i></a>
                </li>
                <li v-for="k in data.social">
                  <a :href="k.url" :title="k.name"><i :class="`fa fa-${k.name.toLowerCase()}`"></i></a>
                </li>
              </ul>
            </div>
            <div class="lang mt-4 w-75 mx-auto">
              <select class="form-select" aria-label="Select language" v-model="lang" @change="select">
                <option value="fr">French</option>
                <option value="en">English</option>
              </select>
            </div>
            <div class="copyright-text">
              <p>Copyright 2023 Kabirou Alassane</p>
            </div>
          </div>
        </div>
      </div>
      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading text-center">
            <h2 class="text-center revealElement"> {{ data.section1Title }} </h2>
            <div class="line-dec"></div>
            <span class="revealElement caveat"> {{ data.section1Desc }} </span>
          </div>
          <div class="">
            <div v-html="data.about" class="animate__animated animate__fadeIn"></div>
          </div>
        </div>
      </section>

      <section class="section my-services" data-section="sectionT">
        <div class="container">
          <div class="section-heading text-center">
            <h2 class="text-center revealElement">{{ data.sectionTTitle }}</h2>
            <div class="line-dec"></div>
            <span class="revealElement caveat"> {{ data.sectionTDesc }} </span>
          </div>
          <div>
            <div class="revealElement" v-for="t in data.technologies" :key="t">
              <h4>{{ t.name }}</h4>
              <div class="progress my-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" :class="t.colorClass"
                  role="progressbar" :style="`width: ${t.skill}%`" :aria-valuenow="t.skill" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading text-center">
            <h2 class="text-center revealElement">{{ data.section2Title }}</h2>
            <div class="line-dec"></div>
            <span class="revealElement caveat"> {{ data.section2Desc }} </span>
          </div>
          <div class="row">
            <div class="col-md-6 revealElement" v-for="k in data.knowledge">
              <div class="service-item">
                <div class="fa fa-4x mb-3 text-danger" :class="k.picClass"></div>
                <h4> {{ k.title }} </h4>
                <p class="ftContent"> {{ k.desc }} </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2 class="text-center revealElement">{{ data.section3Title }}</h2>
            <div class="line-dec"></div>
            <span class="revealElement caveat"> {{ data.section3Desc }} </span>
          </div>
          <div class="my-3">
            <div class="d-flex justify-content-center flex-wrap">
              <a href="javascript:void(0)" class="m-2 fw-bolder text-primary" @click.prevent="loadNewTab" data-type="*"
                :class="soClick===`*`? 'text-primary': 'text-light'">All</a>
              <a href="javascript:void(0)" class="m-2 fw-bolder" v-for="(k, p) of data.works" :key="p"
                @click.prevent="loadNewTab" :data-type="p" :class="soClick == p? 'text-primary': 'text-light'">
                {{ p }}
              </a>
            </div>
            <div class="my-3">
              <div class="container animate__animated animate__fadeIn" v-for="(k, p) in data.works" :key="p"
                :class="(soClick == p) || (soClick == '*')? 'd-block': 'd-none'">
                <div class="row py-4 border-bottom border-3 revealElement" v-for="n in k" :key="n">
                  <div class="col-12 col-sm-5 position-relative" style="height: 200px;">
                    <div class="position-absolute top-0 left-0 h-100 w-100 overflow-hidden">
                      <a :href="n.link" target="_blank">
                        <img :src="n.pic" :alt="n.name" class="w-100 h-100 rounded-1">
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mx-3">
                    <div class="my-sm-0 my-2">
                      <h4><a :href="n.link" class="text-light" data-fv-anim='autowrite' :data-fv-data="n.name"></a></h4>
                      <h6 class="text-white-50 ftContent">
                        {{ n.desc }}
                      </h6>
                    </div>
                    <div>
                      <div class="text-end">
                        <a :href="n.git" class="mx-2 btn btn-link" target="_blank">
                          <i class="fa fa-github-square fa-2x"></i>
                        </a>
                        <a :href="n.link" class="mx-2 btn btn-link" target="_blank">
                          <i class="fa fa-link fa-2x"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section blog-section" data-section="section5">
        <div class="container">
          <div class="section-heading text-center">
            <h2 class="text-center revealElement">{{ data.section5Title }}</h2>
            <div class="line-dec"></div>
            <span class="caveat"> {{ data.section5Desc }} </span>
          </div>
          <div class="row row-wrap">
            <div class="col-12 col-sm-6 card bg-transparent shadow-none border-0 my-3 overflow-hidden" v-for="blog in data.blogs" :key="blog">
              <div class="card-head rounded-top overflow-hidden">
                <div class="w-100" style="height: 150px;">
                  <img :src="blog.cover" :alt="blog.title" class="w-100 h-100">
                </div>
              </div>
              <div class="card-body shadow text-dark bg-light rounded-bottom">
                <h4 class="text-dark"> {{ blog.title }} </h4>
                <h5>Posted at {{ blog.date }} on <span class="text-primary"> {{ blog.plateform }} </span> </h5>
                <a target="_blank" :href="blog.url" class="btn btn-dark my-2 w-50"> Read </a>
                <div class="my-2 row">
                  <button class="btn btn-outline-success m-2 col col-3" v-for="type in blog.types" :key="type" :title="type"> {{ type }} </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading text-center">
            <h2 class="text-center revealElement">{{ data.section4Title }}</h2>
            <div class="line-dec"></div>
            <span class="caveat"> {{ data.section4Desc }} </span>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="https://formspree.io/f/xwkjedkd" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name..."
                        required>
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="email" id="email" class="form-control" placeholder="Enter Your Email..."
                        required>
                    </div>
                    <div class="col-md-12">
                      <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject..."
                        required>
                    </div>
                    <div class="col-md-12">
                      <textarea name="message" id="message" rows="6" class="form-control" placeholder="Your Message..."
                        required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary w-50">SEND</button>
                    </fieldset>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    </section>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.45/vue.global.prod.min.js"
    integrity="sha512-3CesFAr6COyDB22AiVG2erk2moD1FeL3VMx6UezptTW3qmYdcQhfv6yDGmH4ICNTxd0Rs2AbMQ0Q5lG7J/8n3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="assets/js/app.vue.js"></script>
  <script src="assets/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $(".main-menu li:first").addClass("active");

    var showSection = function showSection(section, isAnimate) {
      var direction = section.replace(/#/, ""),
        reqSection = $(".section").filter(
          '[data-section="' + direction + '"]'
        ),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $("body, html").animate({
          scrollTop: reqSectionPos
        },
          800
        );
      } else {
        $("body, html").scrollTop(reqSectionPos);
      }
    };

    var checkSection = function checkSection() {
      $(".section").each(function () {
        var $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var currentId = $this.data("section"),
            reqLink = $("a").filter("[href*=\\#" + currentId + "]");
          reqLink
            .closest("li")
            .addClass("active")
            .siblings()
            .removeClass("active");
        }
      });
    };

    $(".main-menu").on("click", "a", function (e) {
      e.preventDefault();
      showSection($(this).attr("href"), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>